In [8]:
import pandas as pd

In [44]:
student_df = pd.read_csv("Resources/students_complete.csv")
school_df = pd.read_csv("Resources/schools_complete.csv")
missingGrades_df = pd.read_csv("Resources/missing_grades.csv")

In [33]:
student_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [57]:
student_names = student_df["student_name"].tolist()

In [56]:
students_to_fix = []
for name in student_names:
    if len(name.split()) >= 3:
        students_to_fix.append(name)

len(students_to_fix)

1531

In [59]:
prefixes = []
for name in students_to_fix:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])

In [62]:
suffixes = []
for name in students_to_fix:
    if len(name.split()[-1]) <= 3:
        suffixes.append(name.split()[-1])

In [74]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [75]:
# Iterate through the "prefixes_suffixes" list and replace them with an empty space, "" when it appears in the student's name.
for word in prefixes_suffixes:
    student_df["student_name"] = student_df["student_name"].str.replace(word,"")

In [79]:
# Put the cleaned students' names in another list.
student_names = student_df["student_name"].tolist()

In [80]:
# Create a new list and use it for the for loop to iterate through the list.
students_fixed = []

# Use an if statement to check the length of the name.

# If the name is greater than or equal to 3, add the name to the list.

for name in student_names:
    if len(name.split()) >= 3:
        students_fixed.append(name)

# Get the length of the students' names that are greater than or equal to 3.
len(students_fixed)

151

In [83]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_df["student_name"] = student_df["student_name"].str.replace(word,"")